MIRELLA_EMAIL=
MIRELLA_SENHA=
MIRELLA_COOKIE=
MIRELLA_TIMEOUT=60
MIRELLA_OUTPUT_DIR=exports
MIRELLA_DB_PATH=mirella_pacientes.sqlite3
MIRELLA_DATA_PACIENTES=01/01/2024
MIRELLA_DATA_PACIENTES_ATE=
MIRELLA_DATA_VENDAS=01/01/2024
MIRELLA_DATA_VENDAS_ATE=
